<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--<img #imagesrc alt="">-->

  <div class="app-buttonPosition">
    
  <button ion-button block (click)="startCamera()">Activate camera</button>
  <button ion-button block (click)="switchCamera()">Change camera</button>
  <button ion-button block>Set Flash</button>
  <button ion-button block (click)="takePicture()">TAKE PICTURE</button>

  </div>
  
</ion-content>
