page-home {

}

html, body, .ion-app, .ion-content, page-home, content-ios {
  background-color: transparent !important;
}

html, body, ion-app, ion-content, ion-page, .nav-decor {
  background-color: transparent !important;
}

.app-buttonPosition {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0px;
  left: 0px;
}