<!--
  Generated template for the PreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>preview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <img src="{{picture}}"/>

  <!--<p>{{picture}}</p>-->

</ion-content>
